.developers {
  font-weight: bold;
  color: white;
}

.teamName {
  color: white;
}

.address {
  color: white;
}

#feed {
  display: flex;
  justify-content: center;
}

#rating {
  float: right;
}
#ratingbox {
  margin: 5px;
}
#menubar {
  display: flex;
  justify-content: center;
}

.stickyMenu {
  position: sticky;
  top: 0;
  z-index: 8;
}

.search {
  width: 50%;
  color: black;
  padding: 5px;
  margin: 10px;
}

.homePicture {
  width: 100%;
  height: 100%;
  min-width: 500px;
}

.loginHeader {
  color: #61892f;
  font-size: 3vh;
  margin-top: 1vh !important;
}

#homepagecontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #222629;
  height: 75%;
}
.headerNav {
  height: 25vh;
}

/* .bookStyle {
  width: 35vh !important;
  height: 35vh !important;
} */

.bookImage {
  object-fit: contain !important;
}

.searchBarGoogle {
  width: 60vh;
  
}
/* .custFooter {
  height: 25vh;
} */
/* .two {
  height: 55vh;
} */

/* #homepageinfo {
  position: absolute;
  right: 70%;
  display: flex;
  height: 375px;
  
  
} */
/* #homepageregister {
  position: relative;
  left:70%;
} */

/* #blah {
 height: 500px;
 width: 800px;
  border: 2px solid black;
  position: relative;
  right: 50px;
  
} */
/* #divider {
  width: 10px;
} */
