.App {
  text-align: center;
  height: 100%;
  
}



.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

#headerimg {
  width: 500px;
  height: 200px;
}

.developers {
  font-weight: bold;
  color: white;
}

.teamName {
  color: white;
}

.address{
  color: white;
}

#Switchbar {
  width: 295px;
}

#feed {
  display: flex;
  justify-content: center;
  
}

#rating {
  float: right;
}
#ratingbox {
  margin: 5px;
}
#menubar {
  display: flex;
  justify-content: center;
}


.stickyMenu{
  position:sticky;
  top:0;
  z-index: 8;
}


.search {
  width: 100%;
  color: black;
}
#homepagecontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
  
}
#homepageinfo {
  position: absolute;
  right: 70%;
  display: flex;
  height: 375px;
  
  
}
#homepageregister {
  position: relative;
  left:70%;
}

#blah {
 height: 500px;
 width: 800px;
  border: 2px solid black;
  position: relative;
  right: 50px;
  
}
#divider {
  width: 10px;
}

.bookStyling {
  height: 10vh;
  width: 10vw;
}