.App {
  text-align: center;
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.developers {
  font-weight: bold;
}

.stickyMenu{
  position:sticky;
  top:0;
  z-index: 8;
}

body {
  height: 3000px;
}

.search {
  width: 100%;
  color: black;
}